<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../dynamic-components.html">
<link rel="import" href="../app-data.html">


<dom-module id="view-algorithm">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      paper-card {
        width: 100%;
        margin-bottom:10px;
      }
      paper-card.white {
        --paper-card-header-color: #fff;
      }
      a {
          text-decoration: none !important;
          color:inherit;
      }
    </style>

    <!--
      app-data provides the dataSource for a given env.
    -->
    <app-data
        env="[[env]]"
        path="[[path]]"
        data-source="{{dataSource}}"></app-data>

    <app-route
            route="[[route]]"
            pattern="/:algorithm"
            data="{{routeData}}"></app-route>

    <iron-ajax auto
    url="[[dataSource]]"
    params='{}'
    handle-as="json"
    last-response="{{algorithmDetails}}"></iron-ajax>

    <paper-card heading="[[algorithmDetails.name]]" image="[[algorithmDetails.images.banner]]" alt="[[algorithmDetails.name]]" class="white">
      <div class="card-content">
        [[algorithmDetails.description]]
      </div>
      <div class="card-actions">
        <h2>Inputs:</h2>
        <dynamic-components elements="[[algorithmDetails.inputData]]" collected-data="{{collectedData}}"></dynamic-components>

        <paper-button on-tap="postData" raised>Process Data</paper-button>
        <iron-ajax
        id="processAjax"
        handle-as="json"
        content-type="application/json"
        method="POST"
        last-response="{{processResponse}}"></iron-ajax>
      </div>

      <div class="card-actions">
        <h2>Result:</h2>
        <dynamic-components elements-out="[[processResponse]]"></dynamic-components>
      </div>
    </paper-card>
  </template>

  <script>
    Polymer({
      is: 'view-algorithm',
      properties: {
        route: Object,
        routeData:{
          type: Object,
          observer: '_routeChanged'
        },
        algorithmDetails: {
            type: Object
        },
        collectedData: {
            type: Object
        }

      },

      _routeChanged: function(routeData) {
        if(this.route.prefix == '/algorithm'){
          this.path = 'algorithms/' + routeData.algorithm;
          this.algorithm = routeData.algorithm;
        }
      },

      postData: function() { // Manual post using ironAjax to process algorithm
        var ironAjax = this.shadowRoot.querySelector('#processAjax');

        ironAjax.body = JSON.stringify({input:{data:this.collectedData}});
        ironAjax.url = this.dataSource;
        ironAjax.generateRequest();
      }

    });
  </script>
</dom-module>
